/* Reset default margins and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global styles */
html, body {
    background-color: #222426;
    color: #fff;
    font-size: 16px;
    height: 100%; /* Ensure html and body cover the full height */
    display: flex;
    flex-direction: column;
}

body {
    flex: 1; /* Ensure body takes up all available space */
}

@media (min-width: 768px) {
    html {
        font-size: 18px; /* Adjust font size for larger screens */
    }
}

/* Main content should take up all available space */
.content {
    flex: 1;
    background-color: #222426; /* Ensure content area has the same background color */
    display: flex;
    flex-direction: column;
}

/* Example button and form control focus styling */
.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

/* Footer styles */
footer {
    background-color: #333; /* Footer background color */
    color: #fff; /* Footer text color */
    padding: 20px 0; /* Vertical padding inside the footer */
    width: 100%; /* Full width */
    text-align: center; /* Center-align text */
    margin-top: auto; /* Push footer to the bottom */
    position: relative; /* Ensure it's not absolute or fixed */
}

/* Adjust spacing after form elements */
.form-group {
    margin-bottom: 20px; /* Adjust as needed for the desired spacing */
}

/* Enhanced placeholder visibility */
.form-control::placeholder {
    color: #ccc !important; /* Lighter grey for better visibility, forced override */
    opacity: 1 !important; /* Ensure full opacity */
}

.form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #ccc !important;
}

/* Header styles */
header, .navbar {
    background-color: #fff; /* White background for header */
    color: #000; /* Black text for contrast */
}

.nav-link {
    color: #000; /* Black text for navigation links */
}

    .nav-link:hover {
        color: #258cfb; /* Blue text on hover */
    }
